{% extends 'main.html' %}
{% load static %}
{% block title %}Login{% endblock %}
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        {% block content %}
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="User Name"/><br>
            <input type="password" name="password" placeholder="Password"/><br>
            <input type="submit" value="Login"/>
        </form>
        {% endblock content %}
    </body>
</html>